{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #212529;">
  <div class="col-md-6">
    <div class="card bg-dark text-light">
      <div class="card-header text-center bg-custom text-black">
        <h4>Вхід</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {{ form.csrf_token }}

          <div class="form-group">
            {{ form.username.label(class="text-light") }}
            {{ form.username(class="form-control bg-black", id="username", placeholder="Введіть ім'я користувача") }}
          </div>

          <div class="form-group">
            {{ form.password.label(class="text-light") }}
            {{ form.password(class="form-control bg-black", id="password", placeholder="Введіть пароль") }}
          </div>

          <div class="form-group text-center">
            <input class="btn btn-success btn-block" type="submit" value="Зайти до облікового запису">
          </div>
        </form>
      </div>
      <div class="card-footer text-center bg-black">
        <small class="text-light">У вас ще немає облікового запису?<a href="{{ url_for('register') }}" class="text-success"> Зареєструватись</a></small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
